.ico {
  display: inline-block;
  background-image: url(../image/sprites.png);
  background-size: 844px 564px;
}
.ico-icon1{
  width: 280px;
  height: 280px;
  background-position: -282px 0px;
}

.ico-icon2{
  width: 280px;
  height: 280px;
  background-position: -564px 0px;
}

.ico-icon3{
  width: 280px;
  height: 280px;
  background-position: 0px -284px;
}

.ico-icon4{
  width: 280px;
  height: 280px;
  background-position: -282px -284px;
}

.ico-icon5{
  width: 280px;
  height: 282px;
  background-position: 0px 0px;
}
