// 变量

// -------------------空间-------------------

$main-padding: 32px;

// -------------------颜色-------------------

$color-theme: #0033cc;
$color-mask: rgba(0, 0, 0, 0.4);
$color-bgc: #eeeff0;
$color-line: #c7c9d9;
